<h3>Products</h3>
<div class="row">
  <div class="col s12 cards-container">
  <% @products.each do |product| %>
    <div class="card">
      <div class="card-image">
        <img src=<%="product.img"%>>
        <span class="card-title "><%= product.name %></span>
      </div>
      <div class="card-content">
        <h4 class="product-name"><%= product.name %></h4>
        <%= link_to "Description", product_path(product), remote: true %>
        <p id=<%="product#{product.id}"%> class="product-description"><%= product.description %></p>
        <p><%= number_to_currency product.price %></p>
        <% if current_user && current_user.admin %>
          <hr>
          <%= link_to "Edit", edit_product_path(product) %>
          <%= link_to "Delete", product_path(product), :data => {:confirm => "You sure?", :method => "delete"} %>
        <% end %>
        <%= form_for @order_item, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :quantity, value: 1, min: 1 %>
          <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
        <% end %>

      </div>
    </div>
    <% end %>
  </div>
</div>
